*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
  height: auto;
}
nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}
a {
  display: inherit;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
}
.card-text {
  font-size: 16px;
}
.product {
  height: auto;
  transition: 0.4s;
}
.product:hover {
  transition: 0.4s;

  box-shadow: 0px 10px 13px -7px #000000, 4px 21px 0px 0px rgba(0, 0, 0, 0);
}

.sidebar-header {
  margin-top: 5px;
}
.sidebar-category {
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.sidebar-category:hover {
  color: rgb(117, 117, 117);
}
.btn-dark:hover {
  background-color: rgb(117, 117, 117);
  border: 1px solid rgb(117, 117, 117);
}
.btn-light:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}
.size {
  width: 100%;
  height: 60px;
  font-size: 18px;
}
.addcart {
  width: 100%;
  height: 70px;
}
.home-pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.page-item {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}
.page-item:hover {
  color: rgb(117, 117, 117);
}
.page-item-active {
  color: rgb(117, 117, 117);
}

svg {
  cursor: pointer;
}

.navbar__link {
  color: rgb(117, 117, 117);
  font-weight: bold;
  transition: 0.4s;
}
.navbar__link--active {
  color: black;
}
.nav-link:hover {
  color: rgb(117, 117, 117) !important;
}
.home-img {
  position: relative;
}
.home-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 300px;
  height: 50px;
  font-weight: bold;
}

.page-item-btn {
  border: none;
  background-color: transparent;
  font-weight: bold;
}
.cart-quantity {
  position: absolute;
  right: 21%;
  font-size: 18px;
  top: 10%;
}
.cart-icon-wrapper {
  position: relative;
}
.bag-item-btn p {
  cursor: pointer;
}
.bag-item-price {
  text-align: right;
}
.checkout-btn {
  width: 100%;
  height: 50px;
}
.bag-item-img {
  width: 150px;
  height: 150px;
}

.quantity {
  border: none;
  width: 30px;
  text-align: center;
  font-size: 17px;
}
.quantityChange {
  font-size: 17px;
  cursor: pointer;
  width: 30px;
  display: inline-block;
  text-align: center;
}
.quantityWrapper {
  border: 1px solid rgb(0, 0, 0);
  width: 80px;
}
.bag-item-btn p {
  transition: 0.4s;
  font-weight: bold;
}
.bag-item-btn p:hover {
  color: rgb(116, 116, 116);
}

.color-img-wrapper {
  padding: 0;
}
.color-img {
  width: 70px;
  cursor: pointer;
}
.color-img.active {
  border: 2px solid black;
}
.stopScrolling {
  height: 100%;
  overflow: hidden;
}
.add-cart-messeage.active,
.login.active {
  display: block;
}
.add-cart-messeage,
.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  padding: 0;
  display: none;
}
.add-cart-message-overlay,
.login-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1ebe;
}
.add-cart-message-pop-up,
.login-pop-up {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99999;
  background-color: white;
  padding: 40px 0;
}

.edit-pop-up.active {
  display: block;
}
.edit-pop-up {
  display: none;
}
.navbar {
  padding-top: 0;
}
.user-avatar {
  width: 40px;
}
.user-logout {
  font-weight: bold;
  cursor: pointer;
}
.login-pop-up svg {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
}
.carousel {
  padding: 20px 0;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  background: #f5f5f5;
}
.carousel a {
  font-weight: bold;
  text-decoration: underline;
}
.products {
  margin: 50px 0;
}

.section-desc h1 {
  font-size: 50px;
  font-weight: bold;
}
.section-desc .btn {
  padding: 10px 20px;
  font-weight: bold;
}
.section-desc .p {
  font-size: 18px;
  line-height: 1.5;
}
.footer {
  background-color: black;
  padding: 50px 0 10px 0;
}
.footer h5 {
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.footer p {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s;
}
.footer p:hover {
  color: white;
}
.footer svg {
  fill: #7e7e7e;
  transition: 0.4s;
  margin-right: 20px;
}
.footer svg:hover {
  fill: white;
}
.footer hr {
  color: #7e7e7e;
}
.footer span {
  color: #7e7e7e;
}
.footer-bottom-item p {
  margin-right: 20px;
}
.nikeapp-header {
  margin: 50px 0 100px 0;
}
.nikeapp-desc{
  margin: 150px;
}
.nikeapp-desc h3{
  font-weight: bold;
  margin-bottom: 30px;
}
.nikeapp-desc p{
  line-height: 1.6;
}